body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    background-color: rgba(221, 183, 183, 0.342);
    line-height: 1;
    font-size: 2em;
}

pre {
    border: solid black .5px;
}


h1 {
    color: rgba(7, 157, 119, 0.995);
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -5px;
}

h2 {
    color: rgb(250, 105, 129);
    font-size: 90px;
    font-weight: 400;
    letter-spacing: -2px;
}

h3 {
    color: plum;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 3px;
}

h4 {
    color: rgba(158, 55, 55, 0.762);
    font-size: 45px;
    font-weight: 300;
    letter-spacing: -2px;
}

h5 { 
    color: rgb(15, 125, 165);
    font-size: 100px;
    font-weight: 100;
    letter-spacing: -2px;
}

h6 {
    color: rgba(182, 170, 102, 0.886);
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 8px;
}

p {
    color: #ff8888;
    font-weight: 300;
    letter-spacing: 2px;
}

strong {
    color: #ff7979;
    letter-spacing: 10px;
}


li {
    color: brown;
}

a {
    color: rgb(133, 31, 31);
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 4px;
    text-decoration: none;
}

/* form */

input[type=text], 
input[type=email], 
input[type=password], 
textarea {
  font-size: 20px;
  font-weight: 100;
  color: brown;
  border-style: solid;
  border-width: 4px;
  border-radius: 1%;
  border-color: #652f6585;
  padding: 7px;
  margin: 10px;
  outline: none !important;
}

input[type=text]:focus, 
input[type=email]:focus, 
input[type=password]:focus, 
textarea:focus {
    font-size: 25px;
    font-weight: 400;
    color: rgba(63, 5, 5, 0.858);
    border-style: solid;
    border-width: 9px;
    border-radius: 1%;
    border-color: rgb(164, 128, 128);
    padding: 10px;
    margin: 10px;
    outline: none !important;
}

input[type=submit] {
    border-radius: .5em;
    background-color: rgb(80, 72, 29);
    color: white;
    padding: 20px;
    font-size: 25px;
    width: 200px;
    height: 100px;
    border: none;
}
  
input[type=submit], button[type=submit] {
    align-self: flex-end;
    outline: none;
    margin: 1em;
}
  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
  
li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    position: relative;
    top: 50px;
    font-size: 33px;
}

li a:hover:not(.active) {
    background-color: rgb(226, 184, 150);
}
  
.title {
    background-color: white;
    color: black;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: -5px;
}

button { 
    padding: 0;
    font-size: 19px;
    width: 170px;
    height: 65px;
    align-content: center;
    text-align: inline;
    background-color: rgb(214, 205, 205);
    color: rgb(139, 88, 88);
    margin: 0;
    padding: 10px;
    border: solid;
    border-width: .5px;
    border-color:  rgb(255, 93, 93);
    margin: 0;
    letter-spacing: 2px;
}

.delete {
    background-color: rgb(100, 100, 46);
    border-radius: 10px;
    border-color: rgb(100, 100, 46);
    width: 200px;
    height: 70px;
    font-size: 27px;
    color: rgb(231, 231, 190);
}

.go {
    background-color: #062020cb;
    border-radius: 50px;
    font-size: 30px;
    height: 110px;
    border: none;
    width: 130px;
    color: rgb(255, 255, 174);
}

span {
    font-size: 30px;
    font-weight: 100px;
    letter-spacing: 5px;
    padding: 0px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

fieldset {
    border: none;
    padding: none;
    margin: none;
}

.page-footer {
    display: flex;
    font-size: 20px;
}
  
  
.page-footer a{
    display: block;
    padding:0.5em;
    text-decoration:none;
    color: rgb(82, 72, 72);
    font-size: 20px;
} 

:root {
    --color-primary: rgb(133, 169, 231);
    --color-foreground: orange;
    --color-background: rgb(202, 127, 127);
    --color-dark: rgb(170, 123, 177);
    --color-light: green;
    --color-md-light: yellow;
    --color-info: #107888;
    --color-success: rgb(255, 76, 21);
    --color-danger: rgb(244, 99, 73);
    --color-callout: purple;
    --color-lightest: brown;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(223, 125, 125, 0.2);
    transition: 0.3s;
    width: 40%;
    background-color: rgb(201, 239, 241);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }